bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
project.lock.json
project.fragment.lock.json
artifacts/
*.log
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets
TestResults/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/
.DS_Store
TestSource/
TestReplica/
